In [2]:
import pandas as pd

In [4]:
head=["harpnum_trec","harp_num","t_rec_str","sharp_have","sharp_cea_have","now_flare_level","now_flare_id","h6_flare_level","h6_flare_id",
    "h12_flare_level","h12_flare_id","h24_flare_level","h24_flare_id","h48_flare_level","h48_flare_id"]

In [5]:
c=pd.read_csv(
        "/home/zzr/aaa/finall_result/lv2/0.sucess.csv",
        # skiprows=skiprows,
        # header=header,
        header=None,
        names=head,
        # sep=sep,
        # dtype=dtype,
    )
c

,harpnum_trec,harp_num,t_rec_str,sharp_have,sharp_cea_have,now_flare_level,now_flare_id,h6_flare_level,h6_flare_id,h12_flare_level,h12_flare_id,h24_flare_level,h24_flare_id,h48_flare_level,h48_flare_id
0,10.20100502_231200,10,20100502_231200,0,1,0,-1,0,-1,0,-1,210,64610,210,64610
1,10.20100502_232400,10,20100502_232400,0,1,0,-1,0,-1,0,-1,210,64610,210,64610
2,10.20100502_233600,10,20100502_233600,0,1,0,-1,0,-1,0,-1,210,64610,210,64610
3,10.20100502_234800,10,20100502_234800,0,1,0,-1,0,-1,0,-1,210,64610,210,64610
4,10.20100503_000000,10,20100503_000000,0,1,0,-1,0,-1,0,-1,210,64610,210,64610
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1190473,997.20111104_041200,997,20111104_041200,0,1,0,-1,0,-1,0,-1,0,-1,0,-1
1190474,997.20111104_042400,997,20111104_042400,0,1,0,-1,0,-1,0,-1,0,-1,0,-1
1190475,997.20111104_043600,997,20111104_043600,0,1,0,-1,0,-1,0,-1,0,-1,0,-1
1190476,997.20111104_044800,997,20111104_044800,0,1,0,-1,0,-1,0,-1,0,-1,0,-1
1190477,997.20111104_050000,997,20111104_050000,0,1,0,-1,0,-1,0,-1,0,-1,0,-1

In [8]:
a=c.copy()
a["harpnum_trec"]=a.apply(lambda x: "{}_TAI".format(x["harpnum_trec"]), axis=1)
a["t_rec_str"]=a.apply(lambda x: "{}_TAI".format(x["t_rec_str"]), axis=1)
a

,harpnum_trec,harp_num,t_rec_str,sharp_have,sharp_cea_have,now_flare_level,now_flare_id,h6_flare_level,h6_flare_id,h12_flare_level,h12_flare_id,h24_flare_level,h24_flare_id,h48_flare_level,h48_flare_id
0,10.20100502_231200_TAI,10,20100502_231200_TAI,0,1,0,-1,0,-1,0,-1,210,64610,210,64610
1,10.20100502_232400_TAI,10,20100502_232400_TAI,0,1,0,-1,0,-1,0,-1,210,64610,210,64610
2,10.20100502_233600_TAI,10,20100502_233600_TAI,0,1,0,-1,0,-1,0,-1,210,64610,210,64610
3,10.20100502_234800_TAI,10,20100502_234800_TAI,0,1,0,-1,0,-1,0,-1,210,64610,210,64610
4,10.20100503_000000_TAI,10,20100503_000000_TAI,0,1,0,-1,0,-1,0,-1,210,64610,210,64610
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1190473,997.20111104_041200_TAI,997,20111104_041200_TAI,0,1,0,-1,0,-1,0,-1,0,-1,0,-1
1190474,997.20111104_042400_TAI,997,20111104_042400_TAI,0,1,0,-1,0,-1,0,-1,0,-1,0,-1
1190475,997.20111104_043600_TAI,997,20111104_043600_TAI,0,1,0,-1,0,-1,0,-1,0,-1,0,-1
1190476,997.20111104_044800_TAI,997,20111104_044800_TAI,0,1,0,-1,0,-1,0,-1,0,-1,0,-1
1190477,997.20111104_050000_TAI,997,20111104_050000_TAI,0,1,0,-1,0,-1,0,-1,0,-1,0,-1

In [11]:
a["t_rec_datetime"]=pd.to_datetime(a["t_rec_str"],format="%Y%m%d_%H%M%S_TAI")
a

,harpnum_trec,harp_num,t_rec_str,sharp_have,sharp_cea_have,now_flare_level,now_flare_id,h6_flare_level,h6_flare_id,h12_flare_level,h12_flare_id,h24_flare_level,h24_flare_id,h48_flare_level,h48_flare_id,t_rec_datetime
0,10.20100502_231200_TAI,10,20100502_231200_TAI,0,1,0,-1,0,-1,0,-1,210,64610,210,64610,2010-05-02 23:12:00
1,10.20100502_232400_TAI,10,20100502_232400_TAI,0,1,0,-1,0,-1,0,-1,210,64610,210,64610,2010-05-02 23:24:00
2,10.20100502_233600_TAI,10,20100502_233600_TAI,0,1,0,-1,0,-1,0,-1,210,64610,210,64610,2010-05-02 23:36:00
3,10.20100502_234800_TAI,10,20100502_234800_TAI,0,1,0,-1,0,-1,0,-1,210,64610,210,64610,2010-05-02 23:48:00
4,10.20100503_000000_TAI,10,20100503_000000_TAI,0,1,0,-1,0,-1,0,-1,210,64610,210,64610,2010-05-03 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1190473,997.20111104_041200_TAI,997,20111104_041200_TAI,0,1,0,-1,0,-1,0,-1,0,-1,0,-1,2011-11-04 04:12:00
1190474,997.20111104_042400_TAI,997,20111104_042400_TAI,0,1,0,-1,0,-1,0,-1,0,-1,0,-1,2011-11-04 04:24:00
1190475,997.20111104_043600_TAI,997,20111104_043600_TAI,0,1,0,-1,0,-1,0,-1,0,-1,0,-1,2011-11-04 04:36:00
1190476,997.20111104_044800_TAI,997,20111104_044800_TAI,0,1,0,-1,0,-1,0,-1,0,-1,0,-1,2011-11-04 04:48:00
1190477,997.20111104_050000_TAI,997,20111104_050000_TAI,0,1,0,-1,0,-1,0,-1,0,-1,0,-1,2011-11-04 05:00:00

In [13]:
a.to_csv("tosql.csv",index=None)

In [ ]:
ALTER TABLE public.a202203_nlfff_flare ADD h24_posmx int4 NULL;
ALTER TABLE public.a202203_nlfff_flare ADD h24_poscmx int4 NULL;
ALTER TABLE public.a202203_nlfff_flare ADD h48_posmx int4 NULL;
ALTER TABLE public.a202203_nlfff_flare ADD h48_poscmx int4 NULL;
ALTER TABLE public.a202203_nlfff_flare ADD h24_delta05 int4 NULL;
ALTER TABLE public.a202203_nlfff_flare ADD h48_delta05 int4 NULL;

In [ ]:

--  -------------------------------------

--0 - hour24内没有发生45级别耀斑
--1 - hour24内发生45级别耀斑
--2 - hour24内发生耀斑且样本该时刻没有发生45级耀斑

UPDATE public.a202203_nlfff_flare SET h24_posmx=0; 
UPDATE public.a202203_nlfff_flare SET h24_posmx=1 where h24_flare_level >=400; 
UPDATE public.a202203_nlfff_flare SET h24_posmx=2 where h24_flare_level >=400 and now_flare_level  <400 ;

--
--0 - hour24内没有发生345（CMX）级别耀斑
--1 - hour24内发生345级别耀斑
--2 - hour24内发生耀斑且样本该时刻没有发生345级耀斑
UPDATE public.a202203_nlfff_flare SET h24_poscmx=0; 
UPDATE public.a202203_nlfff_flare SET h24_poscmx=1 where h24_flare_level >=300; 
UPDATE public.a202203_nlfff_flare SET h24_poscmx=2 where h24_flare_level >=300 and now_flare_level  <300 ;


--0 - hour24内没有发生45级别耀斑
--1 - hour24内发生45级别耀斑
--2 - hour24内发生耀斑且样本该时刻没有发生45级耀斑
UPDATE public.a202203_nlfff_flare SET h48_posmx=0; 
UPDATE public.a202203_nlfff_flare SET h48_posmx=1 where h48_flare_level >=400; 
UPDATE public.a202203_nlfff_flare SET h48_posmx=2 where h48_flare_level >=400 and now_flare_level  <400 ;
--
--0 - hour24内没有发生345（CMX）级别耀斑
--1 - hour24内发生345级别耀斑
--2 - hour24内发生耀斑且样本该时刻没有发生345级耀斑
UPDATE public.a202203_nlfff_flare SET h48_poscmx=0; 
UPDATE public.a202203_nlfff_flare SET h48_poscmx=1 where h48_flare_level >=300; 
UPDATE public.a202203_nlfff_flare SET h48_poscmx=2 where h48_flare_level >=300 and now_flare_level  <300 ;


-- ---------------------------------------


--select harpnum_trec ,harp_num ,now_flare_level ,h24_flare_level  , ceil ((h24_flare_level - now_flare_level)/100) 
--from public.a202203_nlfff_flare lhf 


UPDATE public.a202203_nlfff_flare SET h24_delta05 =  ceil ((h24_flare_level - now_flare_level)/100)  ; 
UPDATE public.a202203_nlfff_flare SET h48_delta05 =  ceil ((h48_flare_level - now_flare_level)/100)  ;

In [ ]:
SELECT harpnum_trec, h48_flare_level, h48_flare_id, t_rec_datetime, a.deeps_flare_id , a.start_datetime ,a.end_datetime ,a.peak_datetime ,a.xray_class ,a.xray_intensity 
into public.a202203_flare48
FROM public.a202203_flare a, public.a202203_nlfff_flare  b
where a.deeps_flare_id = b.h48_flare_id;

In [ ]:
ALTER TABLE public.a202203_flare48 ADD xray_class_value int4 NULL;
ALTER TABLE public.a202203_flare48 ADD xray_intensity_value int4 NULL;


update public.a202203_flare48 set xray_class_value =1 where  xray_class ='A';
update public.a202203_flare48 set xray_class_value =10 where  xray_class ='B';
update public.a202203_flare48 set xray_class_value =100 where  xray_class ='C';
update public.a202203_flare48 set xray_class_value =1000 where  xray_class ='M';
update public.a202203_flare48 set xray_class_value =10000 where  xray_class ='X';
update public.a202203_flare48 set xray_intensity_value  = xray_class_value * xray_intensity ;

In [ ]:
SELECT harpnum_trec, h48_flare_level, t_rec_datetime, deeps_flare_id, start_datetime, end_datetime, peak_datetime, 
start_datetime::TIMESTAMP-t_rec_datetime::TIMESTAMP as nowflarestart,
end_datetime::TIMESTAMP-t_rec_datetime::TIMESTAMP as nowflareend , 
peak_datetime::TIMESTAMP-t_rec_datetime::TIMESTAMP as nowflarepeak , 
extract(epoch FROM (start_datetime - t_rec_datetime )) as numnowflarestart,
extract(epoch FROM (end_datetime - t_rec_datetime )) as numnowflareend,
extract(epoch FROM (peak_datetime - t_rec_datetime )) as numnowflarepeak,
xray_intensity, xray_class_value, xray_intensity_value
into public.a202203_flare48_data2
FROM public.a202203_flare48;

In [ ]:
SELECT harpnum_trec, h48_flare_level, t_rec_datetime, deeps_flare_id, start_datetime, end_datetime, peak_datetime, 
start_datetime::TIMESTAMP-t_rec_datetime::TIMESTAMP as nowflarestart,
end_datetime::TIMESTAMP-t_rec_datetime::TIMESTAMP as nowflareend , 
peak_datetime::TIMESTAMP-t_rec_datetime::TIMESTAMP as nowflarepeak , 
extract(epoch FROM (start_datetime - t_rec_datetime )) as numnowflarestart,
extract(epoch FROM (end_datetime - t_rec_datetime )) as numnowflareend,
extract(epoch FROM (peak_datetime - t_rec_datetime )) as numnowflarepeak,
xray_intensity, xray_class_value, xray_intensity_value
into public.a202203_flare48_data2
FROM public.a202203_flare48;

In [ ]:
SELECT b.harpnum_trec, h48_posmx, b.bout_path , b.grid_x ,b.grid_y ,b.grid_z ,b.bout_maxlevel 
FROM public.a202203_nlfff_flare a, public.a202203_nlfff_product b
where a.harpnum_trec =b.harpnum_trec and b.bout_quality_value <=30;

In [ ]:
--SELECT a.*
--into a202203_flare_pred_class
--FROM public.a202203_nlfff_flare a, public.a202203_nlfff_product b
--where a.harpnum_trec =b.harpnum_trec  and b.bout_quality_value <=30;


SELECT a.*--, b.*
into a202203_flare_pred_value
FROM public.a202203_flare48_data2 a, public.a202203_nlfff_product b
where a.harpnum_trec =b.harpnum_trec  and b.bout_quality_value <=30;

In [ ]:
SELECT a.*
into a202203_flare_pred_class_full
FROM public.a202203_nlfff_flare a, public.a202203_nlfff_product b
where a.harpnum_trec =b.harpnum_trec ;-- and b.bout_quality_value <=30;


SELECT a.*--, b.*
into a202203_flare_pred_value_full
FROM public.a202203_flare48_data2 a, public.a202203_nlfff_product b
where a.harpnum_trec =b.harpnum_trec  ;--and b.bout_quality_value <=30;

In [ ]:
# ,"t_rec_datetime",
# "h24_posmx","h24_poscmx","h48_posmx","h48_poscmx","h24_delta05","h48_delta05"
# "367.20110214_033600_TAI",367,"20110214_033600_TAI",0,1,0,,0,,0,,0,,0,,"2011-02-14 03:36:00",0,0,0,0,0,0